<button type="button" 
        class="todo-list__task-btn-remove" 
        title="Remove the task" 
        aria-label="Remove the task" 
        ng-click="$ctrl.deleteTask($ctrl.task.id)"
        refresh-page>
    <img class="todo-list__task-btn-remove-icon img-responsive" src="/static/images/remove.png" alt="Remove task">
</button>

<button type="button" 
        class="todo-list__task-btn-option" 
        title="Open the task options window" 
        aria-label="Open the task options window" 
        ng-click="$ctrl.toggleOptionsMenu()"
        ng-class="[
            { 'todo-list__task-btn-option--completed': $ctrl.task.priority === 'completed' && $ctrl.task.completed === 1 },
            { 'todo-list__task-btn-option--important': $ctrl.task.priority === 'important' && $ctrl.task.completed !== 1 },
            { 'todo-list__task-btn-option--moderate': $ctrl.task.priority === 'moderate' && $ctrl.task.completed !== 1 },
            { 'todo-list__task-btn-option--low': $ctrl.task.priority === 'low' && $ctrl.task.completed !== 1 },
        ]"
        refresh-page>
</button>

<input type="text"
       class="todo-list__task-name todo-list__task-name--input hide" 
       value="{{ $ctrl.task.text }}"
       ng-model="$ctrl.task.text"
       ng-focus="$ctrl.prevName = $ctrl.task.text"
       ng-blur="$ctrl.editTask($ctrl.task.id, $ctrl.task.text)"
       task-exit-edit-mode>

<span class="todo-list__task-name todo-list__task-name--span"
      task-enter-edit-mode
      refresh-page>
      {{ $ctrl.task.text }}
</span>

<div class="todo-list__task-error">
    <span class="todo-list__task-error-message" ng-show="$ctrl.error.permissionEdit">Error editing task: Permission denied.</span>
    <span class="todo-list__task-error-message" ng-show="$ctrl.error.failEdit">Error editing task: Failed to change task name due to server problem.</span>
    <span class="todo-list__task-error-message" ng-show="$ctrl.error.permissionDelete">Error deleting task: Permission denied.</span>
    <span class="todo-list__task-error-message" ng-show="$ctrl.error.failDelete">Error deleting task: Failed to delete task due to server problem.</span>
    <span class="todo-list__task-error-message" ng-show="$ctrl.error.changingPriority">Error changing priority: Failed to change priority due to server problem.</span>
    <span class="todo-list__task-error-message" ng-show="$ctrl.error.markCompleted">Error marking task complete: Failed to mark task complete due to server problem.</span>
</div>

<ul class="todo-list__task-option" ng-show="$ctrl.optionsMenuOpen">
    <li class="todo-list__task-option-level" role="button" aria-label="Set task completed" ng-click="$ctrl.changePriority($ctrl.task.id, 'completed')">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--completed"></span>
        <span class="todo-list__task-option-level-label">Completed</span>
    </li>
    <li class="todo-list__task-option-level" role="button" aria-label="Set important priority" ng-click="$ctrl.changePriority($ctrl.task.id, 'important')">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--important"></span> 
        <span class="todo-list__task-option-level-label">Important</span>
    </li>
    <li class="todo-list__task-option-level" role="button" aria-label="Set moderate priority" ng-click="$ctrl.changePriority($ctrl.task.id, 'moderate')">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--moderate"></span> 
        <span class="todo-list__task-option-level-label">Moderate</span>
    </li>
    <li class="todo-list__task-option-level" role="button" aria-label="Set low priority" ng-click="$ctrl.changePriority($ctrl.task.id, 'low')">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--low"></span> 
        <span class="todo-list__task-option-level-label">Low</span>
    </li>
</ul>
