@import "../../utils/extends";

// Todo list
.todo-list {
    @extend %reset-ul;

    // Tasks
    &__task {
        @extend .todo-form__input;

        position:relative;

        padding-left:30px;
        padding-right:30px;

        border-top:2px solid $gray-dark;

        // Task name, Option toggle button
        &-name, &-btn-option {
            display:inline-block;
            vertical-align:middle;
        }

        // The buttons
        &-btn-option, &-btn-remove {
            width:50px;
            height:50px;
        }

        // Option toggle button
        &-btn-option {
            position:relative;

            border:2px solid $gray-dark;
            border-radius:50%;

            background-color:$gray-light;

            &:hover {
                background-color:darken($gray-light, 10%);
            }

            // Icon fills
            &--completed {
                background-image:url(../images/completed.png);
                background-repeat:no-repeat;
                background-size:cover;
            }

            &--important, &--moderate, &--low {
                &::before {
                    content:" ";

                    position:absolute;
                    top:5px;
                    bottom:5px;
                    left:5px;
                    right:5px;

                    border:2px solid $gray-dark;
                    border-radius:50%;
                }
            }

            &--important {
                &::before {
                    background-color:$red;
                }
            }

            &--moderate {              
                &::before {
                    background-color:$orange;
                }
            }

             &--low {              
                &::before {
                    background-color:$yellow;
                }
            }
        }

        // Remove button
        &-btn-remove {
            float:right;
            visibility:hidden;

            border:0;

            background-color:transparent;

            // On hover of task container: Show Remove button
            // When touch screen: Do not hide it
            .todo-list:hover &, .touch & {
                visibility:visible;
            }
        }

        // Task name
        &-name {
            margin:0 0 0 10px;
        }
    }
}
