<!DOCTYPE html>
<html ng-app="todo" class="no-js">
    <head>
        <title>Todo List by Blue Giraffes Team</title>
        <meta name="viewport" content="width=device-width">
        <script async src="/static/js/libs/modernizr.min.js"></script>
        <!--[if lte IE 9]>
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic' rel='stylesheet' type='text/css'>
    </head>

    <body>
        {% csrf_token %}
        
        <main class="container-fluid">
            <h1>To Do List</h1>
            
            <div class="view" ui-view></div>
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js"></script>
        <script src="/static/app/build.js"></script>
    </body>
</html>
