{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,400italic' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <main class="container-fluid">
            <h1>To Do List</h1>
            
            <div class="todo">
                <form class="todo-form">
                    <label class="todo-form__label">
                        <input type="text" class="todo-form__input" placeholder="What needs to be done?">
                    </label>
                </form>
                
                <ul class="todo-list">
                    <!-- <li> of tasks here -->
                </ul>

                 <!-- TODO: Active tasks counter, Sort by dropdown -->
            </div>
        </main>
    </body>
</html>
