<ul class="todo-list__task-option">
    <li class="todo-list__task-option-level" role="button" aria-label="Set task completed">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--completed"></span> 
        <span class="todo-list__task-option-level-label">Completed</span>
    </li>
    <li class="todo-list__task-option-level" role="button" aria-label="Set important priority">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--important"></span> 
        <span class="todo-list__task-option-level-label">Important</span>
    </li>
    <li class="todo-list__task-option-level" role="button" aria-label="Set moderate priority">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--moderate"></span> 
        <span class="todo-list__task-option-level-label">Moderate</span>
    </li>
    <li class="todo-list__task-option-level" role="button" aria-label="Set low priority">
        <span class="todo-list__task-option-level-icon todo-list__task-option-level-icon--low"></span> 
        <span class="todo-list__task-option-level-label">Low</span>
    </li>
</ul>
