{% load staticfiles %}

<li class="todo-list__task">
    <button type="button" class="todo-list__task-btn-remove" title="Remove the task" aria-label="Remove the task"><img class="todo-list__task-btn-remove-icon img-responsive" src="{% static 'images/remove.png' %}" alt="Remove task"></button>
    <button type="button" class="todo-list__task-btn-option" title="Open the task options window" aria-label="Open the task options window"></button>
    <p class="todo-list__task-name"></p>

    <!-- TODO: Options window -->
</li>
