<div class="login">
    <form class="login-form" name="$ctrl.form">
        <div class="login-form__error">
            <span class="login-form__error-text">Incorrect username or password.</span>
            <span class="login-form__error-text">The username already exists.</span>
        </div>

        <div class="login-form-inner">
            <input type="text" class="login-form__input login-form__input--username" placeholder="Username" ng-model="$ctrl.form.username">
            <input type="text" class="login-form__input login-form__input--email" placeholder="Email" ng-model="$ctrl.form.email">
            <input type="text" class="login-form__input login-form__input--password" placeholder="Password" ng-model="$ctrl.form.password">

            <div class="login-form__submits clearfix">
                <input type="submit" class="login-form__submit login-form__submit--signin" name="submit" value="Sign in" ng-click="$ctrl.signinUser()">
                <input type="submit" class="login-form__submit login-form__submit--register" name="submit" value="Register" ng-click="$ctrl.registerUser()">
            </div>
        </div>
    </form>
</div>
