html, body {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.33333rem;
  font-weight: 100;
  margin-bottom: 25px;
}

label {
  margin: 0;
  font-weight: normal;
}

input {
  outline: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
  text-align: center;
}

::-moz-placeholder {
  font-style: italic;
  text-align: center;
}

:-ms-input-placeholder {
  font-style: italic;
  text-align: center;
}

:-moz-placeholder {
  font-style: italic;
  text-align: center;
}

body {
  background-color: #e6e7e8;
}

main {
  max-width: 700px;
  margin: 100px auto 25px;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    width: 70%;
  }
}

.todo {
  border: 2px solid #d1d2d4;
}

.todo-form__label, .todo-form__input, .todo-list__task, .todo-list__task-option-level, .todo-footer__filter-menu-option {
  display: block;
}

.todo-form__input, .todo-list__task, .todo-list__task-option-level, .todo-footer__filter-menu-option {
  width: 100%;
  padding: 15px;
  border: 0;
  text-align: left;
  background-color: #f1f1f2;
}

.todo-list, .todo-list__task-option, .todo-footer__filter-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.todo-list__task {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 2px solid #d1d2d4;
}

.todo-list__task-btn-option, .todo-list__task-option-level-icon, .todo-list__task-btn-remove {
  width: 50px;
  height: 50px;
}

.todo-list__task-btn-option, .todo-list__task-option-level-icon {
  position: relative;
  float: left;
  border: 2px solid #d1d2d4;
  border-radius: 50%;
  background-color: #f1f1f2;
}

.todo-list__task-btn-option:hover, .todo-list__task-option-level-icon:hover {
  background-color: #d7d7d9;
}

.todo-list__task-btn-option--completed, .todo-list__task-option-level-icon--completed {
  background-image: url(../images/completed.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-list__task-btn-option--important::before, .todo-list__task-option-level-icon--important::before, .todo-list__task-btn-option--moderate::before, .todo-list__task-option-level-icon--moderate::before, .todo-list__task-btn-option--low::before, .todo-list__task-option-level-icon--low::before {
  content: " ";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border: 2px solid #d1d2d4;
  border-radius: 50%;
}

.todo-list__task-btn-option--important::before, .todo-list__task-option-level-icon--important::before {
  background-color: #eb3e30;
}

.todo-list__task-btn-option--moderate::before, .todo-list__task-option-level-icon--moderate::before {
  background-color: #f38d30;
}

.todo-list__task-btn-option--low::before, .todo-list__task-option-level-icon--low::before {
  background-color: #fecb2a;
}

.todo-list__task-btn-remove {
  float: right;
  visibility: hidden;
  border: 0;
  background-color: transparent;
}

.todo-list__task:hover .todo-list__task-btn-remove, .touch .todo-list__task-btn-remove {
  visibility: visible;
}

.todo-list__task-name {
  display: block;
  width: calc(100% - 130px);
  min-height: 50px;
  padding: 5px;
  margin: 0 65px;
  border: 0;
  background-color: inherit;
}

.todo-list__task-name--span {
  margin-top: 1px;
}

.todo-list__task-name:focus {
  padding: 5px;
  background-color: #FFF;
}

@media (max-width: 767px) {
  .todo-list__task-option {
    clear: both;
    margin-top: 25px;
    border-top: 1px solid #d1d2d4;
    border-bottom: 1px solid #d1d2d4;
  }
}

@media (min-width: 768px) {
  .todo-list__task-option {
    position: absolute;
    top: 30px;
    left: -130px;
    z-index: 5;
    border: 1px solid #d1d2d4;
  }
}

.todo-list__task-option-level {
  font-size: 0.66667rem;
  font-weight: 300;
}

.todo-list__task-option-level:not(:first-child), .todo-footer__filter-menu-option:not(:first-child) {
  border-top: 1px solid #d1d2d4;
}

.todo-list__task-option-level:hover, .todo-footer__filter-menu-option:hover {
  background-color: #e4e4e6;
}

.todo-list__task-option-level-icon, .todo-list__task-option-level-label {
  display: inline-block;
  vertical-align: middle;
}

.todo-list__task-option-level-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.todo-list__task-option-level-icon--important::before, .todo-list__task-option-level-icon--moderate::before, .todo-list__task-option-level-icon--low::before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.todo-footer {
  padding: 8px 10px;
  height: 40px;
  border-top: 2px solid #d1d2d4;
  text-align: left;
  font-size: 0.66667rem;
  font-weight: 300;
  background-color: #f1f1f2;
}

.todo-footer__filter {
  position: relative;
  float: right;
}

.todo-footer__filter-label, .todo-footer__filter-current {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.todo-footer__filter-current, .todo-footer__filter-menu {
  width: 150px;
  text-align: center;
}

.todo-footer__filter-current {
  text-transform: capitalize;
}

.todo-footer__filter-menu {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  z-index: 5;
  width: 150px;
  border: 1px solid #d1d2d4;
}

.todo-footer__filter-menu-option {
  text-align: center;
}
