@import "../libs/sass-import-once";

@include exports("extends", false) {   // Export the extends only once, false suppresses the warning
    %reset-ul {
        padding:0;
        margin:0;

        list-style:none;
    }

    // Input box
    %input {
        display:block;
        
        width:100%;
        padding:15px;

        border:0;

        text-align:left;
        
        background-color:$gray-light;
    }
}
