<div class="todo-footer__filter">
    <span class="todo-footer__filter-label">Filter by:</span>
    <span class="todo-footer__filter-current">All</span>
    <ul class="todo-footer__filter-menu">
        <li class="todo-footer__filter-menu-option" role="button" aria-label="Show all tasks">All</li>
        <li class="todo-footer__filter-menu-option" role="button" aria-label="Show active tasks">Active</li>
        <li class="todo-footer__filter-menu-option" role="button" aria-label="Show completed tasks">Completed</li>
        <li class="todo-footer__filter-menu-option" role="button" aria-label="Show important priority tasks">Important</li>
        <li class="todo-footer__filter-menu-option" role="button" aria-label="Show moderate priority tasks">Moderate</li>
        <li class="todo-footer__filter-menu-option" role="button" aria-label="Show low priority tasks">Low</li>
    </ul>
</div>
