html, body {
    font-size:$font-size-base;
    font-family:$font-roboto;
}

h1 {
    font-size:$font-size-big;
    font-weight:100;
}

label {
    margin:0;

    font-weight:normal;
}

input {
    outline:0;

    // Remove Firefox stylings
    &:invalid {
        box-shadow: none;
    }

    &:-moz-submit-invalid {
        box-shadow: none;
    }

    &:-moz-ui-invalid {
        box-shadow:none;
    }
}

// Placeholder styles
&::-webkit-input-placeholder { 
    font-style:italic;
    text-align:center;
}

&::-moz-placeholder {
    font-style:italic;
    text-align:center;
}

&:-ms-input-placeholder { 
    font-style:italic;
    text-align:center;
    color:$gray-dark;
}

&:-moz-placeholder {
   font-style:italic;
   text-align:center;
}
