@import "../../../utils/extends";

// Todo tasks filter dropdown area
.todo-footer__filter {
    position:relative;

    float:right;

    // Filter label and current filter
    &-label, &-current {
        position:relative;

        display:inline-block;
        vertical-align:middle;
    }

    // Current filter label and menu itself
    &-current, &-menu {
        width:150px;
        text-align:center;
    }

    // Dropdown menu
    &-menu {
        @extend %reset-ul;

        position:absolute;
        top:calc(100% + 5px);
        right:0;
        z-index:5;

        width:150px;

        border:1px solid $gray-dark;

        // Filter option
        &-option {
            @extend .todo-form__input;

            text-align:center;

            // Copy the same styles as the options menu
            &:hover {
                @extend .todo-list__task-option-level:hover;
            }

            &:not(:first-child) {
                @extend .todo-list__task-option-level:not(:first-child);
            }
        }
    }
}
