// Todo footer
.todo-footer {
    padding:8px 10px;
    height:40px;

    border-top:2px solid $gray-dark;

    text-align:left;
    font-size:$font-size-small;
    font-weight:300;

    background-color:$gray-light;
}
